* {
  text-align: center;
  cursor: url(../images/right-cursor-salmon.png), auto;
  box-sizing: border-box;
  font: glacial-indifference;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to top, #ffffff 50%, #66996d 100%);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 1.2em;
  width: 825px;
  margin: auto;
}

main {
  word-wrap: break-word;
}

header {
  font-size: 1.4em;
  padding: 5px;
  position: center;
  display: block;
  height: 50px;
  top: 0;

}

h1 {
  font-size: 190%;
  color: rgb(41, 105, 41);
  font-weight: bold;
}

h2 {
  font-size: 140%;
  color: rgb(221, 66, 66);
}

body > section {
  margin-bottom: 10%;
}

p {
  margin-bottom: 5%;
}

footer {
  background-image: url(../images/stream.jpg);
  background-repeat: repeat-x;
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 825px;
  display: block;
}

.tab {
  overflow: hidden;
  border: 1px solid #66996d;
  background-color: #66996d;
  margin: auto;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(221, 66, 66);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(233, 106, 106);
}
  
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(208, 231, 192);
  border-top: none;
  background-color: rgb(208, 231, 192);
  overflow-y: auto;
  height: 100px;
}

#family {
  width: 80%;
}

#salesHeader {
  font-size: 1.4em;
  padding: 5px;
  position: center;
  display: block;
  height: 125px;
  top: 0;
}
#store {
  margin: auto;
  display: block;
}

th {
  font-weight: bold;
  padding: .4 em;
}

td {
  padding: .25em;
}

fieldset {
  cursor: pointer;
}
