* {
  text-align: center;
  cursor: url(../images/salmon.png), auto;
}

body {
  background-color: goldenrod;
  color: rgb(69, 87, 37);
  font-family: sans-serif;
  font-size: 1.2em;
}

h1{
  font-family: sans-serif;
  font-size: 2em;
}

nav {
  background: linear-gradient(to bottom, #ff9966 0%, #00ccff 100%);
}

nav.li {
display: inline;
margin-left: 10px;
}

p {
  height: 75%;
  width: 75%;
  background-color: goldenrod;
  padding: 10px;
}



/* The animation code */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* The element to apply the animation to */
salmon {
  width: 100px;
  height: 100px;
  animation-name: salmon logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

stream {
  width: 75%;
  height: 75%;
  position: relative;
}