* {
  text-align: center;
  cursor: url(../images/salmon.png), auto;
}

body {
  font-family: sans-serif;
  font-size: 1.2em;
  background: linear-gradient(to right, #cc0000 0%, #33cc33 15%);
}

h1{
  font-family: sans-serif;
  font-size: 2em;
}

nav.li {
display: inline;
margin-left: 10px;
}

footer {
  background-image: url(../images/stream.jpg);
  width:300px;
  height: 101.5px;
  background-repeat: repeat-x;
}

table {
  margin: auto;
  width: 75%;
}

th {
  font-weight: bold;
  padding: .4 em;
}

td {
  padding: .25em;
}

tr {
  border
}

tr:nth-child(even) {
  
}